fastapi
uvicorn[standard]

sqlalchemy
pymysql
alembic

python-dotenv
pydantic
pydantic-settings

firebase-admin

langchain
langchain-community
langchain-openai

openai

httpx

python-jose
passlib[bcrypt]

pytest
